@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
html, body {
  margin: 0;
  padding: 0;
}
html *, body * {
  box-sizing: border-box;
}

.jmp-wrap {
  position: relative;
}

.jmp-wrap,
.jmp-popup {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}
.jmp-wrap *,
.jmp-popup * {
  box-sizing: border-box;
}
.jmp-wrap *::-webkit-scrollbar,
.jmp-popup *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}
.jmp-wrap *::-webkit-scrollbar-track,
.jmp-popup *::-webkit-scrollbar-track {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
.jmp-wrap *::-webkit-scrollbar-thumb,
.jmp-popup *::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #e4e4e4;
  border: 1px solid #aaa;
}
.jmp-wrap *::-webkit-scrollbar-thumb:hover,
.jmp-popup *::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.jmp-wrap *::-webkit-scrollbar-thumb:active,
.jmp-popup *::-webkit-scrollbar-thumb:active {
  background: #22add4;
}
.jmp-wrap button,
.jmp-popup button {
  font-family: "Roboto Slab", serif;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 4px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  text-transform: capitalize;
}
.jmp-wrap input,
.jmp-wrap textarea,
.jmp-popup input,
.jmp-popup textarea {
  margin: 0;
  outline: none;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  color: #39739d;
  line-height: 1;
  font-size: 14px;
  padding: 5px 10px;
  min-height: 31px;
}
.jmp-wrap textarea,
.jmp-popup textarea {
  padding: 8px 10px;
}
.jmp-wrap button[readonly],
.jmp-wrap input[readonly],
.jmp-wrap textarea[readonly],
.jmp-popup button[readonly],
.jmp-popup input[readonly],
.jmp-popup textarea[readonly] {
  opacity: 0.75;
  cursor: default;
}
.jmp-wrap button:disabled,
.jmp-wrap input:disabled,
.jmp-wrap textarea:disabled,
.jmp-popup button:disabled,
.jmp-popup input:disabled,
.jmp-popup textarea:disabled {
  opacity: 0.5;
  cursor: default;
}

.jmp-sections button,
.jmp-popup button {
  transition: all 0.15s linear;
}
.jmp-sections button:hover,
.jmp-sections button:focus,
.jmp-popup button:hover,
.jmp-popup button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}
.jmp-sections button:focus,
.jmp-popup button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}
.jmp-sections button:active,
.jmp-popup button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.jmp-sections button + button,
.jmp-popup button + button {
  margin-left: 10px;
}

.jmp-tabs {
  padding: 15px 20px 0;
  position: relative;
  z-index: 10;
}
.jmp-tabs button {
  position: relative;
  width: 12em;
  display: inline-block;
  padding: 13px 15px 9px 15px;
  color: #666;
  text-decoration: none;
  margin: 0;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.jmp-tabs button:before {
  border: 1px solid #ccc;
  transform-origin: bottom;
}
.jmp-tabs button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-bottom: none;
  border-radius: 0.4em 0.4em 0 0;
  background: #fafafa;
  transform: scale(1.2, 1.3) perspective(0.5em) rotateX(5deg);
}

[data-tab=table] .jmp-tabs button[data-tab=table] {
  z-index: 2;
  color: #000;
}
[data-tab=table] .jmp-tabs button[data-tab=table]:before {
  background-color: #eee;
  margin-bottom: -0.06em;
}

[data-tab=output] .jmp-tabs button[data-tab=output] {
  z-index: 2;
  color: #000;
}
[data-tab=output] .jmp-tabs button[data-tab=output]:before {
  background-color: #eee;
  margin-bottom: -0.06em;
}

[data-tab=options] .jmp-tabs button[data-tab=options] {
  z-index: 2;
  color: #000;
}
[data-tab=options] .jmp-tabs button[data-tab=options]:before {
  background-color: #eee;
  margin-bottom: -0.06em;
}

.jmp-sections {
  position: relative;
  z-index: 5;
}

.jmp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.jmp-popup {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  width: 33.33333%;
  height: 100%;
  background: #fff;
  transition: all 0.15s ease-in-out;
  padding: 15px;
}
.jmp-popup.jmp-target-popup {
  left: -33.33333%;
}
.jmp-popup.jmp-target-popup[data-show=tree], .jmp-popup.jmp-target-popup[data-show=import] {
  left: 0;
  border: 1px solid #ccc;
  border-left: none;
}
.jmp-popup.jmp-source-popup {
  right: -33.33333%;
  border: 1px solid #ccc;
  border-right: none;
}
.jmp-popup.jmp-source-popup[data-show=tree], .jmp-popup.jmp-source-popup[data-show=import] {
  right: 0;
}
.jmp-popup .jmp-popup-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.jmp-popup .jmp-popup-title {
  display: none;
  font-weight: 500;
  font-size: 16px;
}
.jmp-popup .jmp-popup-block {
  position: absolute;
  left: -99999px;
  top: -99999px;
  height: 100%;
  overflow: auto;
  display: flex;
}
.jmp-popup .jmp-popup-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.jmp-popup .jmp-popup-content {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.jmp-tree-with-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.jmp-tree-with-filter .jmp-tree-filter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}
.jmp-tree-with-filter .jmp-tree-filter input {
  width: 100%;
  padding-right: 45px;
}
.jmp-tree-with-filter .jmp-tree-filter .jmp-filter-icon {
  position: absolute;
  right: 8px;
  top: 0;
  z-index: 1;
  font-size: 20px;
}
.jmp-tree-with-filter .jmp-tree-filter + div {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: auto;
}

.jmp-import-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.jmp-import-wrap .jmp-import-body {
  flex: 1;
  height: 100%;
  padding-bottom: 15px;
}
.jmp-import-wrap textarea {
  width: 100%;
  height: 100%;
}

[data-show=tree] .jmp-tree-title {
  display: inherit;
}
[data-show=tree] .jmp-target-tree-wrap,
[data-show=tree] .jmp-source-tree-wrap {
  position: static;
  left: auto;
  top: auto;
}

.jmp-tree-title button {
  margin-left: 11px;
  font-size: 12px;
  line-height: 1;
  padding: 4px 8px;
}

[data-show=import] .jmp-import-title {
  display: inherit;
}
[data-show=import] .jmp-target-import,
[data-show=import] .jmp-source-import {
  position: static;
  left: auto;
  top: auto;
}

.jmp-table-wrap {
  position: relative;
  width: 100%;
}

.jmp-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
.jmp-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
.jmp-table tr td,
.jmp-table tr th {
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-top: none;
  border-right: none;
}
.jmp-table tr td:last-child,
.jmp-table tr th:last-child {
  border-right: 1px solid #ccc;
}
.jmp-table thead tr:first-child td, .jmp-table thead tr:first-child th {
  border-top: 1px solid #ccc;
}
.jmp-table thead tr td,
.jmp-table thead tr th {
  padding: 10px 12px;
  background: #eee;
}
.jmp-table tbody tr:nth-child(2n) td,
.jmp-table tbody tr:nth-child(2n) th {
  background: #fafafa;
}
.jmp-table th {
  font-weight: 500;
}
.jmp-table .source-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.jmp-table .type-mismatch {
  color: red;
}
.jmp-table .type-combine {
  color: blue;
  font-weight: bold;
  letter-spacing: 1px;
}
.jmp-table .source-path + .source-path {
  margin-top: 6px;
}
.jmp-table .source-path .source-path-input {
  display: flex;
}
.jmp-table .transform-value,
.jmp-table .default-value {
  display: flex;
}
.jmp-table textarea,
.jmp-table input {
  margin: 0 auto;
  width: 250px;
}
.jmp-table button + button {
  margin-left: 10px;
}
.jmp-table .source-path-input .input-field {
  position: relative;
  margin-right: 10px;
}
.jmp-table .source-path-input .input-field input.has-data {
  padding-right: 45px;
}
.jmp-table .clear-source-path-data {
  position: absolute;
  right: 0;
  top: 0;
}
.jmp-table tr[data-disabled=true] td, .jmp-table tr[data-disabled=true] th {
  color: rgba(0, 0, 0, 0.5);
}

.jmp-output-section,
.jmp-options-section {
  position: absolute;
  left: -99999px;
  top: -999999px;
}

[data-tab=output] .jmp-output-section {
  position: relative;
  left: auto;
  top: auto;
}
[data-tab=output] .jmp-table-section {
  position: absolute;
  left: -99999px;
  top: -999999px;
}

[data-tab=options] .jmp-options-section {
  position: relative;
  left: auto;
  top: auto;
}
[data-tab=options] .jmp-table-section {
  position: absolute;
  left: -99999px;
  top: -999999px;
}

.jmp-copy-btn {
  text-transform: capitalize;
}

.jmp-output-block {
  display: flex;
  border: 1px solid #ccc;
}

.jmp-output-code,
.jmp-output-data {
  width: 50%;
}

.jmp-output-title {
  background: #eee;
  padding: 15px;
  font-weight: bold;
}

.jmp-output-area {
  padding: 15px;
  position: relative;
}
.jmp-output-area textarea {
  width: 100%;
  height: 750px;
  display: block;
  margin: 0;
  font-size: 13px;
}
.jmp-output-area .jmp-copy-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.jmp-options-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 0 10px;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.jmp-options-form .jmp-options-area {
  border-top: 49px solid #eee;
  padding: 0 30px;
  width: 100%;
}
.jmp-options-form .jmp-options-content {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  display: block;
  position: relative;
}
.jmp-options-form textarea {
  width: 100%;
  display: block;
  height: 650px;
  font-size: 13px;
}
.jmp-options-form .jmp-copy-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

/*

 */
.jsonView {
  margin-left: 20px;
  font-family: Consolas, "Lucida Console", Menlo, "dejavu sans mono", monospace;
  font-size: 14px;
  line-height: 16px;
  padding: 2px;
  cursor: default;
  color: rgb(66, 66, 66);
  white-space: nowrap;
  -webkit-user-select: none;
}
.jsonView [contenteditable=true]:focus {
  outline: 1px solid #7aa7c7;
  background: #e1ecf4;
  border-radius: 3px;
}

.jsonView > div {
  display: inline-block;
}

.jsonView.hidden {
  display: none;
}

.jsonView > .children, .jsonView.insert {
  display: block;
}

.jsonView > .name {
  color: rgb(136, 19, 145);
}

.jsonView > .separator:before {
  content: ":";
}

.jsonView > .separator {
  padding-right: 5px;
}

.jsonView > .spacing {
  display: inline-block;
  width: 15px;
}

.jsonView > .spacing::before {
  content: "1";
  visibility: hidden;
}

.jsonView > .value.null, .jsonView > .value.undefined {
  color: rgb(128, 128, 128);
}

.jsonView > .value.boolean, .jsonView > .value.number {
  color: rgb(28, 0, 207);
}

.jsonView > .value.string:not(.edit):before, .jsonView > .value.string:not(.edit):after {
  content: '"';
}

.jsonView > .value.string {
  color: rgb(196, 26, 22);
}

.jsonView > .name:hover, .jsonView > .value:hover {
  background-color: rgba(56, 121, 217, 0.1);
}

.jsonView > .expand, .jsonView > .collapse {
  min-width: 20px;
  margin-left: -20px;
  cursor: pointer;
  transition: all 0.15s linear;
}

.jsonView > .expand:before {
  content: "▶";
  font-size: 11px;
}

.jsonView > .collapse:before {
  content: "▼";
}

.jsonView > .edit {
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
}

.jsonView > .edit br {
  display: none;
}

.jsonView > .edit * {
  display: inline;
  white-space: nowrap;
}

.jsonView > .value.edit {
  color: rgb(0, 0, 0);
}

.jsonView > .delete:before {
  content: "+";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  display: inline-block;
}

.jsonView > .delete {
  opacity: 0;
  display: inline;
  padding: 3px;
  cursor: pointer;
  color: rgb(150, 150, 150);
}

.jsonView > .item:hover ~ .delete {
  opacity: 1;
  color: rgb(150, 150, 150);
}

.jsonView > .delete:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
  background: rgb(220, 220, 220);
}

.jsonView.readonly > .insert, .jsonView.readonly > .delete {
  display: none !important;
}

.jsonView > .insert:before {
  content: "+";
}

.jsonView > .insert {
  display: none;
  color: rgb(150, 150, 150);
  cursor: pointer;
}

.jsonView.expanded > .insert, .jsonView.expanded > .insert {
  display: inline-block;
  margin-left: 20px;
  padding: 3px;
}

.jsonView > .insert:hover {
  color: rgb(0, 0, 0);
  background: rgb(220, 220, 220);
}
